@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styling */
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #fae38c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FAE38C;
}
